@import "tailwindcss";

/*=========================QuillJs Styles============================= */
.editorContainer .ql-editor {
  background-color: white;
  width: 8.5in;
  min-height: 11in;
  padding: 1in;
  margin: 1rem;
  box-shadow: 0 0 5px 0 rgb(0, 0, 0, 0.5);
}
.editorContainer .ql-container.ql-snow {
  border: none;
  display: flex;
  justify-content: center;
}
.editorContainer .ql-toolbar.ql-snow {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0px;
  z-index: 1;
  background-color: #f3f3f3;
  border: none;
  box-shadow: 0 0 5px 0 rgb(0, 0, 0, 0.5);
}
@page{
  margin: 1in;
}
@media print{
  .editorContainer .ql-editor{
    background: none;
    width: 6.5in;
    height: 9in;
    padding: 0px;
    margin: 0px;
    box-shadow: none;
    align-self: start;
  }
  .editorContainer > .ql-toolbar.ql-snow{
    display: none;
  }
}


